body {
    font-family: Helvetica, Arial, sans-serif;
}
#map {
    height: 600px;
    width: 800px;
    float: left;
}

#dataset-picker-container {
    float: right;
}

.c-tab__content {
    max-height: 30em;
    overflow-y: scroll;
    box-sizing: border-box;
}

#issues-for-feature li {
    list-style-type: none;
}
#issues-for-feature li + li {
    margin-top: 1em;
    padding-top: 1em;
    border-top: 1px solid #333;
}

#issues-for-feature li .summary {
    font-weight: bold;
    display: block;
}

#issues-for-feature li .description {
    display: block;
    font-style: italic;
    max-height: 5em;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 1.5em 0;
}

#issues-for-feature li .date {
    width: 40%;
    background-color: #eee;
    margin: 0.5em 0;
    padding: 0.5em 0.25em;
}

#issues-for-feature li .date + .date {
    margin-left: 1em;
}

#issues-for-feature a {
    margin-left: 2em;
}